//imports-fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico|Indie+Flower|Roboto|Mukta|Poppins|Raleway');

//fonts
$indie-flower: 'Indie Flower', cursive;
$roboto: 'Roboto', sans-serif;
$pacifico: 'Pacifico', cursive;
$nunito: 'Nunito', sans-serif;
$mukta: 'Mukta', sans-serif;
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;

//general variables
$header-height: 63px;
