.Header {
  @media screen and (min-width: 992px) {
    height: $header-height;
  }
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 60px;
  background-color: white;
  animation: Header 6s ease-in;

  @keyframes Header {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .Header-Container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    font-family: $raleway;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 50px;

    .header-nav-navlink {
      color: grey;
      text-decoration: none;
    }
    .header-nav-navlink-selected {
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
