.Header {
  @media screen and (min-width: 992px) {
    height: $header-height;
  }
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 60px;
  background-color: white;

  .Header-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.07);
  }

  .header-title {
    color: white;
    margin-left: 40px;
    width: 163px;
    height: 100%;
    display: flex;
    align-items: center;

    .header-title-text {
      display: flex;
      color: black;
      font-family: numino;
      font-weight: lighter;
      font-size: 19px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .header-title-navlink {
      text-decoration: none;
    }

    .header-logo-img {
      max-height: 40px;
      margin-right: 7px;

    }

  }



  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    max-width: 300px;
    font-family: $raleway;
    font-size: 14px;
    letter-spacing: 1px;

    .header-nav-navlink {
      color: grey;
      text-decoration: none;
    }
    .header-nav-navlink-selected {
      color: black;
      font-size: 15px;
      font-weight: bold;
    }

  }

  .header-nav-profile {
    display: flex;
    width: 163px;
    margin-right: 40px;
    justify-content: flex-end;
    font-family: $nunito;
    font-size: 15px;

    .header-nav-profile-navlink {
      color: grey;
      text-decoration: none;
    }
    .header-nav-profile-navlink-selected {
      color: black;
      text-decoration: bold;
    }
  }
}
