.Home {
  height: 100%;

  .heading {
    position: absolute;
    top: 53%;
    margin-top: -150px;
    text-align: center;
    width: 100%;

    .intro {
      color: black;
      font-family: $italiano;
      font-size: 80px;
      font-weight: 400;
      text-transform: none;
    }

    .tagline {
      font-size: 16px;
      animation: 5s fadeIn ;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }



  }
}
