//imports-fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico|Indie+Flower|Roboto|Mukta|Poppins|Raleway|Italiana|Monoton|VT323|Lato|Open+Sans|Crimson+Text|Lora|Manuale|Playfair+Display
');
//fonts
$indie-flower: 'Indie Flower', cursive;
$roboto: 'Roboto', sans-serif;
$pacifico: 'Pacifico', cursive;
$nunito: 'Nunito', sans-serif;
$mukta: 'Mukta', sans-serif;
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;
$italiano: 'Italiana', serif;
$vt323: 'VT323', monospace;
$monoton: 'Monoton', cursive;
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$manuale: 'Manuale', serif;
$lora: 'Lora', serif;
$playfair: 'Playfair Display', serif;
$crimson-text: 'Crimson Text', serif;
