.Header {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 63px;
  background-color: white;


  .Header-Container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    animation: Header 6s ease-in;

    @keyframes Header {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .header-menu-icon {
      display: none;
      opacity: .5;

      @include mobile {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        .menu-icon {
          max-height: 20px;
          width: auto;
        }
      }
      @include tablet {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
      }

    }

    .header-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 300px;
      font-family: $raleway;
      font-size: 13px;
      letter-spacing: 1px;
      margin-right: 50px;

      @include mobile {
        display: none;

      }
      @include tablet {
        display: none;
      }


      .header-nav-navlink {
        color: grey;
        text-decoration: none;
      }
      .header-nav-navlink-selected {
        color: black;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  @include mobile {
    height: 60px;
  };

}
